<div class="container">
    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Nome</th>
                        <th>Descrizione</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let prodotto of elenco">
                        <td>
                            <a href="/prodotto/detail/{{ prodotto.id }}">{{ prodotto.codice }}</a>
                        </td>
                        <td>{{ prodotto.nome }}</td>
                        <td>{{ prodotto.descrizione }}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>