<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Inserisci il prodotto</h1>

            <div class="form-group">
                <label for="input_codice">Codice</label>
                <input type="text" class="form-control" id="input_codice" [(ngModel)]="prodottoCodice" />
            </div>

            <div class="form-group">
                <label for="input_nome">Nome</label>
                <input type="text" class="form-control" id="input_nome" [(ngModel)]="prodottoNome" />
            </div>

            <div class="form-group">
                <label for="input_descrizione">Descrizione</label>
                <textarea type="text" class="form-control" id="input_descrizione"  [(ngModel)]="prodottoDescrizione"></textarea>
            </div>

            <button class="btn btn-success btn-block" (click)="inserisciProdotto()" >Inserisci prodotto</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>