<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Ciao</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam laborum iste dolores consequatur suscipit molestiae quam nihil, facilis, velit, earum nulla? Eos, voluptatum doloribus dolor magnam nesciunt id laborum maxime.
            </p>
            <img src="https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg" class="w-100">
        </div>
        <div class="col-md-6">
            <h1>Ciao</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam laborum iste dolores consequatur suscipit molestiae quam nihil, facilis, velit, earum nulla? Eos, voluptatum doloribus dolor magnam nesciunt id laborum maxime.
            </p>
            <img src="https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg" class="w-100">
        </div>
    </div>
</div>