<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Dettaglio prodotto</h1>

            <div class="form-group">
                <label for="input_codice">Codice:</label>
                <input type="text" class="form-control" id="input_codice" [(ngModel)] = "prodottoCodice">
            </div>
            <div class="form-group">
                <label for="input_nome">Nome:</label>
                <input type="text" class="form-control" id="input_nome" [(ngModel)] = "prodottoNome">
            </div>
            <div class="form-group">
                <label for="input_descrizione">Descrizione:</label>
                <textarea class="form-control" id="input_descrizione" [(ngModel)] = "prodottoDescrizione"></textarea>
            </div>
            
            <div class="row mt-5" *ngIf="showTuttoOk">
                <div class="col p-3 bg-success text-white">
                    Tutto ok!
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-block" 
                        (click)="eliminaProdotto()" *ngIf="!showTuttoOk">Elimina Prodotto</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block" 
                        (click)="modificaProdotto()" *ngIf="!showTuttoOk">Modifica Prodotto</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>